header {
  h2 {
    margin-top: 0.5em; // Half of the font-size
  }

  .header-section {
    border-bottom: 2px dashed @navigation-border;
  }
}

.home {

  .content-section {
    margin: 30px 0;
    .flex(row, space-between, flex-start);

    .text-content {
      width: 48%;
      padding-right: 1%;

      @media @phone {
        width: 100%;
      }
    }

    .img-content {
      width: 48%;
      padding-left: 1%;

      @media @phone {
        width: 100%;
      }

      img {
        border-radius: 10px;
      }
    }
  }

  .inverse-content {
    padding-bottom: 30px;
    border-bottom: 2px dashed @navigation-border;
    flex-wrap: wrap-reverse;

    .text-content {
      padding-left: 1%;
      padding-right: 0;
    }

    .img-content {
      padding-right: 1%;
      padding-left: 0;
    }
  }

  .content-destination {
    width: 75%;
    margin: 0 auto 30px;

    @media @phone {
      width: 100%;
    }

    img {
      border-radius: 10px;
    }
  }

  .content-pick {
    padding-top: 30px;
    border-top: 2px dashed @navigation-border;
    .flex(row, space-between, flex-start);

    @media @phone {
      .flex(row, center, flex-start);
    }

    .destination {
      width: 25%;
      margin-bottom: 30px;

      @media @phone {
        width: 75%;
      }

      .btn {
        .custom-btn(@eastern-blue, @white, 1.6rem, 100%, 10px);
      }
    }
  }
}// home