// Navigation Styles here
.nav-wrapper {
  padding: 2rem 0;
  border-bottom: 2px dashed @navigation-border;

  nav {
    max-width: 800px;
    .flex(row, space-between, center);

    @media @phone {
      .flex(column, space-between, center);
    }

    h1 {
      @media @phone {
        font-size: 3.2rem;
      }
    }
  
    .links {
      width: 48%;
      .flex(row, space-evenly, center);

      @media @phone {
        width: 100%;
        margin-top: 3rem;
      }
  
      a {
        text-decoration: none;
        color: @font-color;
        font-size: 1.6rem;
      }
    }
  }
}